.iconTitleWrapper{
  
    text-transform: none;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    width: 100%;
    &:last-child{
        position: absolute;
        bottom: 0px;
        padding: 10px;
        
        @media screen and (max-width: 768px) {

    position: relative;
        bottom: 00px;
        left: 00px;


          }
    }
    cursor: pointer;
    // flex-grow: 1;
    .iconImage{
        display: flex;
        justify-content: center;
    }
    .iconTitle{
        font-size: 22px;
    }
}
.iconTitleActive {
    background-color: var(--primary-color);
}
